/* .navbar {
  background-color: #f4511e;
  height: 9rem;
  padding: 10px;
  font-size: 20px !important;
  letter-spacing: 2px;
  font-family: Montserrat, sans-serif;
  border: 1px solid rgb(8, 1, 15);
} */
/* .Nav-links {
  text-decoration: none;
  border: 1px solid rgb(233, 224, 224);
  background-color: aquamarine;
} */
/* .navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
} */
